<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
    <title>EDIT BOOKS RECORD</title>
    <link rel="stylesheet" href="{% static 'css/booksstyle.css' %}">
</head>
<body>
<div id="header">
      <h1> BOOKS RECORD MANAGEMENT</h1>
      <div id="nav">
          <a href="/books/view-books">VIEWS</a>
           <a href="/books/new-book">ADD NEW</a>
           <a href="/books/search-book">SEARCH</a>
          <a href="/books/logout">LOGOUT</a>
      </div>
  </div>
  <div id="main">
      <h2>EDIT BOOK RECORDS</h2>
      <form action="/books/edit" method='post'>
          {% csrf_token %}
          <input type="hidden" name="bookid" value="{{book.id}}">
          {{form}}
          <input type="submit" value="save">
      </form>
  </div>
</body>
</html>


