<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
    <title>LOGIN IN BOOKS RECORD </title>
    <link rel="stylesheet" href="{% static 'css/booksstyle.css' %}">
</head>
<body>
<div id="header">
      <h1> BOOKS RECORD MANAGEMENT</h1>
      <div id="nav">
          <a href="/books/view-books">VIEWS</a>
           <a href="/books/new-books">ADD NEW</a>
           <a href="/books/search-books">SEARCH</a>
      </div>
    <h2>WELCOME{{username}}</h2>
  </div>
  <div id="main">
      <form method="post">
          {% csrf_token %}
          <table>
              <tr>
                  <td><label for=username">Username</label></td>
                   <td><input type="text" name="username" id="username"></td>
              </tr>
              <tr>
                  <td><label for=password">Password</label></td>
                   <td><input type="password" name="password" id="password"></td>
              </tr>
            <tr>
              <td></td>
              <td><input type="submit" value="Login"</td>
              </tr>
          </table>
      </form>
      <p>{{error}}
  </div>
</body>
</html>
